

body{
	background: #E5E2D3
}

h1, h2{
	color: #E7624D;
	text-align: center;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

#header {
	width: auto;
	height: 15px;
	background: #E7624D;
}

#section1{
	width: auto;
	height: 620px;	
}

#section2{
	width: auto;
	height: 200px;
}

#footer{
	width: auto;
	height: 300px;
	background: #E7624D;
}

#photo{
	width: 400px;
    height: 400px;
	overflow: hidden;
	display: block;
	margin: 40px auto 20px auto;
	border-radius: 50%;
}
#photo img {
    width: 100%;
    height: 100%;    	
}

#text h2{
	font:  48px/1 EB Garamond, Verdana, sans-serif;
	margin: 0px auto 0px auto;	
}

#text h1{
	font:  68px/1 EB Garamond, Verdana, sans-serif;
	margin-bottom: 10px;
}

#colums{
	display: flex;
	flex-direction: row;
	width: 960px;
	text-align: center;
	margin: auto; 
}
.divider {
	width: 552px;
	height: 36px;
	background: url(../images/divider.png) no-repeat;
	margin: 3px auto 1px auto;
}

#colums h2{
	text-decoration: underline;
}

#colums p{
	color: #E7624D;
	padding-right: 35px;
    padding-left: 35px;
}

#colums1{
	display: flex;
	flex-direction: row;
	width: 960px;
	text-align: center;
	margin: auto; 
}

#address{
	margin-right: 48px;
}

#address , #social {   
	width: 450px;
	text-align: center;
}

#address h2, #social h2, #footer h1{
	color: #FFFFFF;
	margin-top: auto;
	font:  35px/1 EB Garamond, Verdana, sans-serif;'	
}
#address p {
	color: #FFFFFF;
	margin-top: auto;
	font:  20px/1 EB Garamond, Verdana, sans-serif;'
	
}

#icons {
	width: 220px;
	margin: 15px auto 7px auto;
}
#icons li {
	text-align: left;
	height: 39px;
	padding-left: 60px;
	list-style-type: none;
	color: #FFFFFF;
}

#icons li a {
	font-size: 22px;
	font-weight: bold;
	text-align: center	
	color:red;
	
}

#facebook {
	background: url(../images/facebook.png) no-repeat;
}

#twitter {
	background: url(../images/twitter.png) no-repeat;
}

#linkedin {
	background: url(../images/linkedin.png) no-repeat;
}

